footer.footer
  .row.header-footer(style="margin:0;margin-bottom:10px;") 
    .col-xl-3.col-lg-3.col-sm-6.col-6 
      img(src="/images/chatluong.png" width="45px")
      | SẢN PHẨM CHẤT LƯỢNG
    .col-xl-3.col-lg-3.col-sm-6.col-6 
      img(src="/images/chuyennghiep.png" width="45px")
      | DỊCH VỤ CHUYÊN NGHIỆP
    .col-xl-3.col-lg-3.col-sm-6.col-6 
      img(src="/images/giaohang.png" width="50px")
      | GIAO HÀNG NHANH CHÓNG
    .col-xl-3.col-lg-3.col-sm-6.col-6 
      img(src="/images/baohanh.png" width="40px")
      | MIỄN PHÍ BẢO HÀNH
  .container
    .row
      .col-md-3
        .footer-section.logo
          img(src="/images/dhtlogofooter.png" alt="Logo" class="footer-logo" width="140px")
      .col-md-3
        .footer-section.about
          h2 Về Chúng Tôi
          p
            | Chúng tôi là một công ty chuyên cung cấp các sản phẩm chất lượng cao. Sứ mệnh của chúng tôi là mang lại sự hài lòng cho khách hàng.
      .col-md-3
        .footer-section.links
          h2 Liên Kết
          ul.list-unstyled
            li
              a.text-white(href="/") Trang Chủ
            li
              a.text-white(href="/san-pham") Sản Phẩm
            li
              a.text-white(href="/gioi-thieu") Giới Thiệu
            li
              a.text-white(href="/lien-he") Liên Hệ
      .col-md-3
        .footer-section.contact
          h2 Liên Hệ
          p
            i.fas.fa-map-marker-alt
            |  Địa chỉ: 55 Đường Giải Phóng, Quận HBT, Hà Nội
          p
            i.fas.fa-phone
            |  Điện thoại: (+84) 768-517-629
          p
            i.fas.fa-envelope
            |  Email: trung0073467@huce.edu.com
    hr.footer-divider
    .row
      .col-md-12.text-center
        p Copyright &copy; 2024 dht.com Design by DauHuyTrung