include ../mixins/search.pug
include ../mixins/account.pug

header.header
  .container-fluid(style="background-color: #C7C7C7")
    .row
      .col-1 
      .col-6(style="text-align:left")
        p Chuyên cung cấp mỹ phẩm chính hãng
      .col-2(style="text-align:right")
        p
          i.fas.fa-phone
          |  (+84) 768-517-629
      .col-3(style="text-align:right")
        p
          i.fas.fa-map-marker-alt
          |  55 Đường Giải Phóng, Quận HBT, Hà Nội
  .container
      .row.align-items-center
        .col-md-1
        .col-md-2
          .logo
            a(href="/" class="navbar-brand") 
              img(src="/images/dhtlogo.png" alt="logo" width="100px" )
        .col-md-4
          +search(keyword)
        .col-md-3
          nav
            ul.nav.justify-content-center
              li.nav-item
                a.nav-link(href="https://shopee.vn/" target="_blank" ) 
                  img(src="https://cdn.bapperfume.com/media/core/icons/shopee.png"  alt="Shopee" width="30px")
              li.nav-item
                a.nav-link(href="/shopping-cart" style="margin-top:5px; color: black")
                  i.fas.fa-shopping-cart
                  |  Giỏ Hàng
        .col-md-2.text-right
          +account()   
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container()
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNav()
        ul.navbar-nav
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false")
              | Danh mục sản phẩm
            .dropdown-menu
              a.dropdown-item(href="#" id="dropdownbrand")
                img(src="/images/brand.png" alt="Thương hiệu" style="width: 20px; height: 20px; margin-right: 10px;")
                | Thương hiệu
              .dropdown-brand 
                a.dropdown-item(href="#")
                  img(src="/images/brand.png" style="width: 20px; height: 20px; margin-right: 10px;")
                  | GUCCI
                a.dropdown-item(href="#")
                  img(src="/images/brand.png" style="width: 20px; height: 20px; margin-right: 10px;")
                  | CHANEL 
                a.dropdown-item(href="#")
                  img(src="/images/brand.png" style="width: 20px; height: 20px; margin-right: 10px;")
                  | DIOR
                a.dropdown-item(href="#")
                  img(src="/images/brand.png" style="width: 20px; height: 20px; margin-right: 10px;")
                  | OLAY 
              a.dropdown-item(href="#")
                img(src="/images/woman.png" alt="Mỹ phẩm Nữ" style="width: 20px; height: 20px; margin-right: 10px;")
                | Mỹ phẩm Nữ
              a.dropdown-item(href="#")
                img(src="/images/man.png" alt="Mỹ phẩm Nam" style="width: 20px; height: 20px; margin-right: 10px;")
                | Mỹ phẩm Nam
              
          li.nav-item
            a.nav-link(href="/") Trang chủ
          li.nav-item
            a.nav-link(href="/products") Sản Phẩm
          li.nav-item
            a.nav-link(href="/contact") Liên hệ
          li.nav-item
            a.nav-link(href="/about") Giới thiệu