include ../mixins/search.pug
include ../mixins/account.pug
include ../mixins/sub-menu.pug
header.header
  .container-fluid(style="background-color: #C7C7C7")
    .row
      .col-1 
      .col-6(style="text-align:left")
        p Chuyên cung cấp mỹ phẩm chính hãng
      .col-2(style="text-align:right")
        p
          i.fas.fa-phone
          |  (+84) 768-517-629
      .col-3(style="text-align:right")
        p
          i.fas.fa-map-marker-alt
          |  55 Đường Giải Phóng, Quận HBT, Hà Nội
  .container
      .row.align-items-center
        .col-md-1
        .col-md-2
          .logo
            a(href="/" class="navbar-brand") 
              img(src="/images/dhtlogo.png" alt="logo" width="100px" )
        .col-md-4
          +search(keyword)
        .col-md-3
          nav
            ul.nav.justify-content-center
              li.nav-item
                a.nav-link(href="https://shopee.vn/" target="_blank" ) 
                  img(src="https://cdn.bapperfume.com/media/core/icons/shopee.png"  alt="Shopee" width="30px")
              li.nav-item
                a.nav-link(href="/cart" style="margin-top:5px; color: black")
                  i.fas.fa-shopping-cart
                  |  Giỏ Hàng
        .col-md-2.text-right
          +account()   
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container()
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNav()
        ul.navbar-nav
          li.sub-menu.nav-item(style="margin-left: 120px")
            a.nav-link(href="/products") 
              | Danh mục sản phẩm 
              <i class="fa-solid fa-caret-down"></i>
            
            - const path = "/products"
            +sub-menu(categories, path)  
          li.nav-item
            a.nav-link(href="/") Trang chủ
          li.nav-item
            a.dropdown-item.nav-link(href="#" id="dropdownbrand")
              img(src="/images/brand.png" alt="Thương hiệu" style="width: 20px; height: 20px; margin-right: 10px;")
              | Thương hiệu 
              <i class="fa-solid fa-caret-down"></i>
            .dropdown-brand
              each brand in brands 
                a.dropdown-item(href=`/brand/${brand.title}`)
                  img(src="/images/brand.png" style="width: 20px; height: 20px; margin-right: 10px;")
                  | #{brand.title}
          li.nav-item
            a.nav-link(href="/products") Sản Phẩm
          li.nav-item
            a.nav-link(href="/contact") Liên hệ
          li.nav-item
            a.nav-link(href="/about") Giới thiệu