extends ../../../client/layouts/default.pug
block main 
  .container(style="margin-top: 20px; border: 1px solid #ddd; border-radius: 30px;padding-bottom: 20px;")
    .row
      .col-md-12
        h1.text-center(style="margin-top: 20px") Giới thiệu 
        .inner-dir
        .row.text-center(style="margin-top: 20px; margin-bottom:40px; border-bottom:1px solid #ddd; border-radius:15px;")
          span.mt-2.mb-2(style="padding: 0 110px; ")
            | !{settingGeneral.desc}
          
        .row
          .col-md-6
            img(src="/images/about.png" class="img_about" alt="about" style="width: 100%")
          .col-md-6
            .info-grid
              .info-item
                h5 Mạng xã hội
                .inner-dir
                p 
                  i.fab.fa-facebook(style="margin-right: 8px;")
                  a(href="")  Facebook
                p 
                  i.fab.fa-instagram(style="margin-right: 8px;") 
                  a(href="") Instagram
                p 
                  i.fab.fa-twitter(style="margin-right: 8px;")
                  a(href="") Twitter
              .info-item
                h5 Địa chỉ
                .inner-dir
                p 
                  i.fas.fa-map-marker-alt(style="margin-right: 8px;")
                  | Địa chỉ: 55 Đường Giải Phóng, Quận HBT, Hà Nội
              .info-item
                h5 Liên hệ
                .inner-dir
                p 
                  i.fas.fa-phone(style="margin-right: 8px;")
                  | Số điện thoại: (+84) 768-517-629
              .info-item
                h5 Email
                .inner-dir
                p 
                  i.fas.fa-envelope(style="margin-right: 8px;")
                  | Email: trung0073467@huce.edu.com
                