mixin noti(link, title, message)
  #notification-toast.notification-toast.hide()
    .notification-icon
      i(class="fa-solid fa-envelope")
    .notification-content(href=link)
      .notification-title #{title}
      .notification-message #{message}