mixin alert-popup(expressFlash, time)
  - if (expressFlash.success.length > 0)
    div.alert-popup.alert-success(data-time=time show-alert)
      span.alert-message #{expressFlash.success}
      span.alert-close-btn(close-alert) x
  - if (expressFlash.error.length > 0)
    div.alert-popup.alert-error(data-time=time show-alert)
      span.alert-message #{expressFlash.error}
      span.alert-close-btn(close-alert) x