extends ../../../client/layouts/user.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block head 
  
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Poppins&display=swap' rel='stylesheet')
  link(rel="stylesheet", href="/css/user/forgot.css")
block main
  script(src="/js/cart.js") 
  +alert-popup(expressFlash, 5000)
  .card
    form(action="/user/password/forgot", method="post") 
      p.lock-icon
        i.fas.fa-lock
      h2 Quên mật khẩu?
      p Nhập email của bạn để nhận lấy lại mật khẩu
      input.passInput(type='text' name="email" placeholder='Nhập email của bạn')
      button(type="submit") Xác nhận