extends ../../../client/layouts/user.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug
include ../../mixins/product-layout.pug
block head 
  link(rel="stylesheet", href="/css/user/otp.css")
block main
  script(src="/js/cart.js") 
  +alert-popup(expressFlash, 5000)
  .container
    h3.title Xác thực OTP
    p.sub-title
      | Nhập mã OTP đã được gửi đến số email
      span.phone-number #{email}
    form(action="/user/password/otp" method="POST")
      .wrapper
        input.field(type='number' min='0' max='9' name="otp1")
        input.field(type='number' min='0' max='9'  name="otp2")
        input.field(type='number' min='0' max='9' name="otp3")
        input.field(type='number' min='0' max='9'  name="otp4")
        input(type='hidden' name='email' value=email)
    p#timerText(style="margin-top: 10px; font-size: 0.9rem; color: #555;")
    form(action="/user/password/forgot" method="POST")
      input(type='hidden' name='email' value=email)
      
      button.resend(type='submit' disabled id="resendButton")
        | Gửi lại mã OTP
        i.fa.fa-caret-right
      a.account-btn(href="/user/login") Đăng nhập
      
    