extends ../../../client/layouts/user.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug
include ../../mixins/product-layout.pug
block head 
  link(rel="stylesheet", href="/css/user/login.css")
block main
  script(src="/js/cart.js") 
  +alert-popup(expressFlash, 5000)
  .container.my-3
  .main.d-flex.align-items-center.min-vh-100.py-3.py-md-0.mb-4
    .container
      .card.login-card
        .row.no-gutters
          .col-md-5
            img.login-card-img(src="/images/register.png" alt="register")
          .col-md-7
            .card-body
              .brand-wrapper
                img.logo(src="/images/dhtlogo-removebg.png" alt="logo" )
                span.ml-2 Mỹ Phẩm DHT
              p.login-card-description Đăng Ký Tài Khoản
              form.form-register(action="/user/register" method="POST")
                .form-group
                  label.sr-only(for="name") Họ và Tên
                  input#name.form-control(type="text" name="fullname" placeholder="Nhập họ và tên của bạn")
                .form-group
                  label.sr-only(for="email") Email
                  input#email.form-control(type="email" name="email" placeholder="Nhập email của bạn")
                .form-group
                  label.sr-only(for="phone") Số Điện Thoại
                  input#phone.form-control(type="text" name="phone" placeholder="Nhập số điện thoại của bạn")
                .form-group.mb-4
                  label.sr-only(for="new-password") Mật Khẩu
                  input#new-password.form-control(type="password" name="password" placeholder="Nhập mật khẩu")
                .form-group.mb-4
                  label.sr-only(for="confirm-password") Xác Nhận Mật Khẩu
                  input#confirm-password.form-control(type="password" name="confirm-password" placeholder="Xác nhận mật khẩu")
                  p#password-error.text-danger.mt-2(style="display: none;") Mật khẩu mới và mật khẩu xác nhận không khớp.
                button#register.btn.btn-block.login-btn.mb-4(type="submit" ) Đăng Ký
              p.login-card-footer-text 
                | Đã có tài khoản? 
                a.text-reset(href="/user/login") Đăng nhập
              nav.login-card-footer-nav
                a(href="#!") Terms of use.
                a(href="#!") Privacy policy